body {
    margin: 0;
    max-width: 1440px;
    background: linear-gradient(to right, hsl(0, 0%, 100%, 0.5), hsl(221, 100%, 96%, 0.5));
    font-family: Hanken Grotesk;
}
.main-container {
    background-color: hsl(0, 0%, 100%);
    width: 630px;
    height: 425px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 20px;
    margin-top: 150px;
}
.container {
    width: 315px;
    margin-right: auto;
    height: 425px;
    text-align: center;
    background: linear-gradient(to bottom, hsl(252, 100%, 67%) ,hsl(241, 81%, 54%));
    border-radius: 17px;
    overflow: hidden;
}
h3 {
    font-size: 1.25rem;
    font-weight: 500;
    color: hsl(241, 100%, 89%);
    padding-top: 10px;
}
p {
    color: hsl(241, 100%, 89%);
    font-size: 18px;
}
h2 {
    color: hsl(0, 0%, 100%);
    font-size: 1.6875rem;
}
h1 {
    font-size: 1.25rem;
    color: hsl(224, 30%, 27%);
}
.circle {
    width: 165px;
    height: 165px;
    margin: 0 auto;
    border-radius: 50%;
    background: linear-gradient(to bottom, hsla(256, 72%, 46%, 1), hsla(241, 72%, 46%, 0));
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
}
.figure1 {
    margin-top: 40px;
    font-weight: 800;
    font-size: 3.75rem;
    color: hsl(0, 0%, 100%);
}
.figure2 {
    color: hsl(240, 23%, 70%);
    margin-top: -25px;
    font-size: 1.025rem;
}
.summary-container {
    width: 315px;
    height: 425px;
    margin: -425px 0 0 auto;
}
.summary-visuals {
    width: 260px;
    margin: 25px auto 0;
    height: 310px;
}
.rows {
    width: 260px;
    margin: 0 auto;
    height: 255px;
    display: flex;
    flex-direction: column;
}
.row1 {
    margin: 7px 0 8px;;
    height: 45px;
    display: flex;
    justify-items: center;
    align-items: center;
    background-color: hsl(0, 100%, 67%, 0.1);
    border-radius: 10px;
    transition: transform 0.3s ease-in-out;
}
.row2 {
    margin: 7px 0 8px;;
    height: 45px;
    display: flex;
    justify-items: center;
    align-items: center;
    background-color: hsl(39, 100%, 56%, 0.1);
    border-radius: 10px;
    transition: transform 0.3s ease-in-out;
}
.row3 {
    margin: 7px 0 8px;;
    height: 45px;
    display: flex;
    justify-items: center;
    align-items: center;
    background-color: hsl(166, 100%, 37%, 0.1);
    border-radius: 10px;
    transition: transform 0.3s ease-in-out;
}
.row4 {
    margin: 7px 0 8px;;
    height: 45px;
    display: flex;
    justify-items: center;
    align-items: center;
    background-color: hsl(234, 85%, 45%, 0.1);
    border-radius: 10px;
    transition: transform 0.3s ease-in-out;
}
.row1:hover {
    transform: scale(1.1)
}
.row2:hover {
    transform: scale(1.1)
}
.row3:hover {
    transform: scale(1.1)
}
.row4:hover {
    transform: scale(1.1)
}
.icon1 {
    margin: 0 15px;
}
.icon2 {
    margin: 0 15px;
}
.icon3 {
    margin: 0 15px;
}
.icon4 {
    margin: 0 15px;
}
.row-word1 {
    color: hsl(0, 100%, 67%);
    font-size: 0.985rem;
    width: 100px;
    margin-right: 20px;
}
.row-word2 {
    color: hsl(39, 100%, 56%);
    font-size: 0.985rem;
    width: 100px;
    margin-right: 20px;
}
.row-word3 {
    color: hsl(166, 100%, 37%);
    font-size: 0.985rem;
    width: 100px;
    margin-right: 20px;
}
.row-word4 {
    color: hsl(234, 85%, 45%);
    font-size: 0.985rem;
    width: 100px;
    margin-right: 20px;
}
.row-value1 {
    margin-left: 5px;
    font-size: 0.985rem;
}
.row-value2 {
    margin-left: 5px;
    font-size: 0.985rem;
}
.row-value3 {
    margin-left: 5px;
    font-size: 0.985rem;
}
.row-value4 {
    margin-left: 5px;
    font-size: 0.985rem;
}
.row-value-score1 {
    color: hsl(224, 30%, 27%);
}
.row-value-score2 {
    color: hsl(224, 30%, 27%);
}
.row-value-score3 {
    color: hsl(224, 30%, 27%);
}
.row-value-score4 {
    color: hsl(224, 30%, 27%);
}
.continue-container {
    background-color: hsl(224, 30%, 27%);
    width: 260px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 2px auto 0;
    border-radius: 30px;
    height: 45px;
    cursor: pointer;
}
.continue-container p {
    color: hsl(0, 0%, 100%);
    text-align: center;
}
.continue-link {
    text-decoration: none;
    color: hsl(0, 0%, 100%);
}
@media (max-width: 430px) {
    body {
        margin: 0;
        width: 100%;
        background: linear-gradient(to right, hsl(0, 0%, 100%, 0.5), hsl(221, 100%, 96%, 0.5));
        font-family: Hanken Grotesk;
    }
    .main-container {
        background-color: hsl(0, 0%, 100%);
        width: 100%;
        height: 100vh;;
        margin-left: 0;
        margin-right: 0;
        border-radius: 0;
        margin-top: 0;
    }
    .container {
        width: 100%;
        margin-right: 0;
        margin-bottom: 0;
        height: 45vh;
        text-align: center;
        background: linear-gradient(to bottom, hsl(252, 100%, 67%) ,hsl(241, 81%, 54%));
        border-radius: 0 0 25px 25px;
    }
    .summary-container {
        width: 100%;
        height: 55vh;
        margin: auto 0 0 ;
    }
    .circle {
        width: 150px;
        height: 150px;
        margin: 0 auto;
        border-radius: 50%;
        background: linear-gradient(to bottom, hsla(256, 72%, 46%, 1), hsla(241, 72%, 46%, 0));
        display: flex;
        flex-direction: column;
        justify-items: center;
        align-items: center;
    }
    .figure1 {
        margin-top: 25px;
        font-weight: 800;
        font-size: 3.25rem;
        color: hsl(0, 0%, 100%);
    }
    .figure2 {
        color: hsl(240, 23%, 70%);
        margin-top: -25px;
        font-size: 0.935rem;
    }
    
    p br {
        display: none;
    }
    .verdict {
        width: 300px;
        display: block;
        margin: -20px auto 0;
    }
    .summary-visuals {
        width: 80%;
        margin: 10px auto 0;
        height: 43vh;
    }
    .rows {
        width: 100%;
        margin: 0 auto;
        height: 37vh;
        display: flex;
        flex-direction: column;
    }
    .row1 {
        margin: 0 0 15px;
        height: 7vh;
        display: flex;
        justify-items: center;
        align-items: center;
        background-color: hsl(0, 100%, 67%, 0.1);
        border-radius: 10px;
    }
    .row2 {
        margin: 0 0 15px;
        height: 7vh;
        display: flex;
        justify-items: center;
        align-items: center;
        background-color: hsl(39, 100%, 56%, 0.1);
        border-radius: 10px;
    }
    .row3 {
        margin: 0 0 15px;
        height: 7vh;
        display: flex;
        justify-items: center;
        align-items: center;
        background-color: hsl(166, 100%, 37%, 0.1);
        border-radius: 10px;
    }
    .row4 {
        margin: 0 0 15px;
        height: 7vh;
        display: flex;
        justify-items: center;
        align-items: center;
        background-color: hsl(234, 85%, 45%, 0.1);
        border-radius: 10px;
    }
    .row-word1 {
        color: hsl(0, 100%, 67%);
        font-size: 0.985rem;
        width: 100px;
        margin-right: 90px;
    }
    .row-word2 {
        color: hsl(39, 100%, 56%);
        font-size: 0.985rem;
        width: 100px;
        margin-right: 90px;
    }
    .row-word3 {
        color: hsl(166, 100%, 37%);
        font-size: 0.985rem;
        width: 100px;
        margin-right: 90px;
    }
    .row-word4 {
        color: hsl(234, 85%, 45%);
        font-size: 0.985rem;
        width: 100px;
        margin-right: 90px;
    }
    .continue-container {
        background-color: hsl(224, 30%, 27%);
        width: 80%;
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 0 auto 0;
        border-radius: 40px;
        height: 7vh;
        cursor: pointer;
    }
    .row-value1 {
        margin-left: 5px;
        font-size: 0.985rem;
    }
    .row-value2 {
        margin-left: 5px;
        font-size: 0.985rem;
    }
    .row-value3 {
        margin-left: 5px;
        font-size: 0.985rem;
    }
    .row-value4 {
        margin-left: 5px;
        font-size: 0.985rem;
    }
}
